
body{
		padding-top: 2em;
		padding-bottom: 2em;
		background-color: black;
		background-attachment: fixed;
		-webkit-backface-visibility: hidden;
	}


div.Ctn{
	width: 100%;
	height: auto;

	min-width: 300px;

  	padding-top: 20px;
  	padding-bottom: 20px;
  	margin-top: 2em;
}

@media only screen and (orientation: portrait){
  div.InfoPorteOuverte{
    width: 300px;
    height: 200px;

    display: inline-block;

    padding: 5px;
    padding-bottom: 10px;

    background-image: url(../images/MetalPattern.png);
    background-size: auto;

    border-radius: 5px;
    border-width: 3px;
  	border-style: solid;
  	border-color: red;

    margin: 1em;
    margin-bottom: 30px;
  }

div.InfoPorteFermer{
    width: 300px;
    height: 200px;

    display: inline-block;

    padding: 5px;
    padding-bottom: 10px;

    background-image: url(../images/MetalPattern.png);
    background-size: auto;

    border-radius: 5px;
    border-width: 3px;
  	border-style: solid;
  	border-color: green;

    margin: 1em;
    margin-bottom: 30px;
  }

  div.NavBar{
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
}

}

@media only screen and (orientation: landscape){
  div.InfoPorteOuverte{
  	width: 250px;
    height: 200px;

    display: inline-block;

  	padding: 5px;
    padding-bottom: 10px;

  	background-image: url(../images/MetalPattern.png);
  	background-size: auto;

  	border-radius: 5px;

  	border-width: 3px;
  	border-style: solid;
  	border-color: red;

    margin: 1em;
    margin-bottom: 30px;
  }

  div.InfoPorteFermer{
  	width: 250px;
    height: 180px;

    display: inline-block;

  	padding: 2px;
    padding-bottom: 5px;

  	background-image: url(../images/MetalPattern.png);
  	background-size: auto;

  	border-radius: 5px;

  	border-width: 3px;
  	border-style: solid;
  	border-color: green;

    margin: 1em;
    margin-bottom: 30px;
  }

  div.NavBar{
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
}

}

div.InfoConfig{
	width: 30%;
 		min-width: 300px;
	height: auto;
	
  display: inline-block;

	padding: 5px;
  padding-bottom: 15px;
  padding-left: 30px;

	background-image: url(../images/MetalPattern.png);
	background-size: auto;

	border-radius: 5px;

  margin-top: 20px;
  margin: 10px;
}

div.GestionEmailBox{
	width: auto;
 		min-width: 300px;
	height: auto;
	
  display: inline-block;

	padding: 5px;
  padding-bottom: 15px;
  padding-left: 30px;

	background-image: url(../images/MetalPattern.png);
	background-size: auto;

	border-radius: 5px;

  margin-top: 20px;
  margin: 10px;
}

div.NavBar{
	position: fixed;
	top: 0px;
	left: 0px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;

    background-image: url(../images/MetalPattern.png);
    background-size: auto;

    border-style: solid;
    border-width: 1px;
    border-color: black;

    width: 100%;
    height: auto;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: monospace;
}
li a.quit {
    display: block;
    color: white;
    background-color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: monospace;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: black;
    color: white;
}

li a.quit:hover{
    background-color: red;
    color: white;
}

@media only screen and (orientation: landscape){
  div.CenterCode{
  	width: 453px;
  	height: auto;

  	position: relative;
  	left: 50%;
  	margin-left: -226px;
  }
}

@media only screen and (orientation: portrait){
  div.CenterCode{
    width: 303px;
    height: auto;

    position: relative;
    left: 50%;
    margin-left: -151px;
  }
}

div.ConfigBox{
	width: 450px;
	height: auto;

	padding: 20px;

	border-width: 0px;
	border-radius: 5px;
	border-style: solid;

	background-image: url(../images/MetalPattern.png);
	background-size: auto;

	display: inline-block;
}

@media only screen and (orientation: landscape){
  .digit{
    background-color: #838B8F;
    background-image: url(../images/MetalPattern.png);
    background-size: auto;

    font-size: 25px;
    font-family: 'Ubuntu', 'Lato', sans-serif;

    text-align: center;
    text-decoration: none;

    color: white;

    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
      

    width: 150px;
    height: 50px;
    margin: -1px;
    float: left;
    transition: all 0.3s;
    transition-duration: 0.1s;
    -webkit-transition-duration: 0.4s; /* Safari */
    overflow: hidden;
    cursor: pointer;

    outline-style: none;
  }
  .digit:hover {
      background-color: #62686B;
  }

  .digit:active {
    background-color: #44484A;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
  }
}

@media only screen and (orientation: portrait){

  .digit{
  	background-color: #838B8F;
    background-image: url(../images/MetalPattern.png);
    background-size: auto;

  	font-size: 25px;
    font-family: 'Ubuntu', 'Lato', sans-serif;

  	text-align: center;
    text-decoration: none;

    color: white;

    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
      

    width: 100px;
    height: 80px;
    margin: -1px;
    float: left;
    transition: all 0.3s;
    transition-duration: 0.1s;
    -webkit-transition-duration: 0.4s; /* Safari */
    overflow: hidden;
    cursor: pointer;

    outline-style: none;
  }
  .digit:hover {
      background-color: #62686B;
  }

  .digit:active {
    background-color: #44484A;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
  }
}

.digit-time{
	background-color: #838B8F;
	font-size: 25px;
	text-align: center;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 50px;
    margin: 2px;
    float: left;
    transition: all 0.3s;
    transition-duration: 0.1s;
    -webkit-transition-duration: 0.4s; /* Safari */
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
}
.digit-time:hover {
    background-color: #62686B;
}

.digit-time:active {
  background-color: #44484A;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

@media only screen and (orientation: landscape){
  .confirmer{
  	background-color: #838B8F;
    background-image: url(../images/MetalPattern.png);
    background-size: auto;

  	font-size: 28px;
    font-family: 'Ubuntu', 'Lato', sans-serif;

  	text-align: center;
    text-decoration: none;

    color: white;

    border: none;
    border-radius: 5px;

    width: 453px;
    height: 50px;
    display: inline-block;

    transition: all 0.5s;
    cursor: pointer;
    outline-style: none;

  }
  .confirmer span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .confirmer span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  button.confirmer:hover{
  	background-color: #3e8e41;
  }

  .confirmer:hover span {
    padding-right: 25px;
  }

  .confirmer:hover span:after {
    opacity: 1;
    right: 0;
  }
}

@media only screen and (orientation: portrait){
  .confirmer{
    background-color: #838B8F;
    background-image: url(../images/MetalPattern.png);
    background-size: auto;

    font-size: 28px;
    font-family: 'Ubuntu', 'Lato', sans-serif;

    text-align: center;
    text-decoration: none;

    color: white;

    border: none;
    border-radius: 5px;

    width: 303px;
    height: 90px;
    display: inline-block;

    transition: all 0.5s;
    cursor: pointer;
    outline-style: none;

  }
  .confirmer span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .confirmer span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  button.confirmer:hover{
    background-color: #3e8e41;
  }

  .confirmer:hover span {
    padding-right: 25px;
  }

  .confirmer:hover span:after {
    opacity: 1;
    right: 0;
  }
}
@media only screen and (orientation: landscape){
  input.MDP{
    height: 30px;
    width: 453px;

    color: white;

    background-color: black;

    font-size: 20px;

    border-width: 0px;

    text-align: center;
  }
}
@media only screen and (orientation: portrait){
  input.MDP{
    height: 50px;
    width: 303px;

    color: white;

    background-color: black;

    font-size: 30px;

    border-width: 0px;

    text-align: center;
  }
}

.SauvegarderBtn{
	background-color: #838B8F;
	font-size: 28px;
	text-align: center;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
  outline-style: none;
}
.SauvegarderBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.SauvegarderBtn span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button.SauvegarderBtn:hover{
	background-color: #3e8e41;
}

.SauvegarderBtn:hover span {
  padding-right: 25px;
}

.SauvegarderBtn:hover span:after {
  opacity: 1;
  right: 0;
}

h2{
	color: white;
	font-family: 'Ubuntu', 'Lato', sans-serif;

  padding-top: 8px;
}
h1{
	color: white;
	font-family: 'Ubuntu', 'Lato', sans-serif;
}

.TextMpd {
    background: #1F2124;
    background: -moz-linear-gradient(#1F2124, #27292C);
    background: -ms-linear-gradient(#1F2124, #27292C);
    background: -o-linear-gradient(#1F2124, #27292C);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1F2124), to(#27292C));
    background: -webkit-linear-gradient(#1F2124, #27292C);
    background: linear-gradient(#1F2124, #27292C);
    border: 1px solid #000;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: #FFF;
    width: 150px;
    height: 25px;

    text-align: center;
}

input[type=number] {
    -moz-appearance:textfield;
}

.TextMpd:focus {
    box-shadow: inset 0 0 2px #000;
    background: #494D54;
    border-color: #51CBEE;
    outline: none;
}

.ChangerBtn {
    background: #1F2124;
    background: -moz-linear-gradient(#1F2124, #27292C);
    background: -ms-linear-gradient(#1F2124, #27292C);
    background: -o-linear-gradient(#1F2124, #27292C);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1F2124), to(#27292C));
    background: -webkit-linear-gradient(#1F2124, #27292C);
    background: linear-gradient(#1F2124, #27292C);
    border: 1px solid #000;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: #FFF;
    width: 150px;
    height: 35px;

    cursor: pointer;
}

.ChangerBtn:focus {
    box-shadow: inset 0 0 2px #000;
    background: #494D54;
    border-color: #51CBEE;
    outline: none;
}

.ChangerBtnTime {
    background: #1F2124;
    background: -moz-linear-gradient(#1F2124, #27292C);
    background: -ms-linear-gradient(#1F2124, #27292C);
    background: -o-linear-gradient(#1F2124, #27292C);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1F2124), to(#27292C));
    background: -webkit-linear-gradient(#1F2124, #27292C);
    background: linear-gradient(#1F2124, #27292C);
    border: 1px solid #000;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: #FFF;
    width: 73px;
    height: 35px;

    cursor: pointer;
}

.ChangerBtnTime:focus {
    box-shadow: inset 0 0 2px #000;
    background: #494D54;
    border-color: #51CBEE;
    outline: none;
}

td.config{
  width: 150px;
}

table.config{
  width: 200px;
}

input[type="checkbox"].checkConfig{

  width: 20px;
  height: 20px;

  border-radius: 5px;

}

label.check{
  color: white;
  font-size: 25px;
}